

.tagline{
margin: 1rem 2rem;
display: inline-block;
font-family: 'Poppins';
font-style: medium;
font-weight: 700;
font-size: 1.3rem;
line-height: 	2rem;
text-align: center;
text-transform: uppercase;
color: var(--secondary-color);
}

.usp .pcontainer{
    line-height: 1.9;
    font-weight:500;
    display: inline-block;
    font-style: normal;
}

.usp{
display:block;
margin: 1rem 3rem 0rem 3rem;
font-family: 'Poppins';

font-weight: 700;
font-size: 3rem;
line-height: 3rem;
text-align: center;
letter-spacing: -0.04em;
color: var(--primary-color);
}

.pContainer {
    display:block;
    margin: 1rem 3rem 1rem 3rem;
    line-height: 30px;
    font-weight:500;

}

.p {
    
font-weight: 500;
font-style: medium;
font-size: 1rem;
line-height: 30px;
/* line-height: 167%; */
text-align: center;

color: var(--paragraph-color);
align: Center;

}


@media (min-width: 1024px) {
    
    
 }