// CSS RESET
* *::before *::after{ 
  box-sizing: border-box;
  font-family:'Poppins'
}

img, picture, svg, video, iframe {
  display:block;
  max-width: 100%;
}

html {
  --primary-color:#181E4B;
  --secondary-color:#DF6951; 
  
}

.bm-menu-wrap{
  top: 0;
}

