.container{
    
       position: absolute;
    }

.wrap{
    background-color: rgba(255,255,255);
}
    

.burgerButton{
    position: relative;
    width:6ch;
    height:5ch;
   
}

.bar{
    position:relative;
    width:100%;
    height:100%;
    
     background-color:#000000;
}
.crossButton{
     position:relative;
}
.itemList{
    position:relative;
    
    color:white;
    display:flex;
    background-color:red;
    
}


.menu{ 
 top: 0;
}

.morphShape{
    background-color: var(--secondary-color);
   
}

.overlay{

   z-index:99999999;
}

.cross{
    position: relative;
    top: 0;
    left: 0;
}


/* // <Menu burgerButtonClassName={ "burgerButton" } />
// <Menu burgerBarClassName={ ".bar" } />
// <Menu crossButtonClassName={ "crossButton" } />
// <Menu crossClassName={ "cross" } />
// <Menu menuClassName={ "menu" } />
// <Menu morphShapeClassName={ "morphShape" } />
// <Menu itemListClassName={ "itemList" } />
// <Menu overlayClassName={ "my-class" } /> */